
{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
        <h2>All Birthdays</h2>
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <!-- TODO: Loop through the database entries to display them in this table -->
                {% for s in stocks %}
                    <tr>
                        <td> {{s.symbol}}</td>
                        <td> {{s.name}}</td>
                        <td> {{s.shares}}</td>
                        <td> {{s.price | usd}}</td>
                        <td> {{s.total | usd}}</td>

                    </tr>
                {% endfor %}
                <tr>
                    <td>Cash</td>
                    <td>{{cash | usd}}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}


